<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <display-name>TPIWEB-BilbiotecaJAVA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterCategoriaServlet</display-name>
    <servlet-name>RegisterCategoriaServlet</servlet-name>
    <servlet-class>servlets.RegisterCategoriaServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListCategoriasServlet</display-name>
    <servlet-name>ListCategoriasServlet</servlet-name>
    <servlet-class>servlets.ListCategoriasServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CategoriaModifyServlet</display-name>
    <servlet-name>CategoriaModifyServlet</servlet-name>
    <servlet-class>servlets.CategoriaModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BajaCategoriaServlet</display-name>
    <servlet-name>BajaCategoriaServlet</servlet-name>
    <servlet-class>servlets.BajaCategoriaServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterLibroServlet</display-name>
    <servlet-name>RegisterLibroServlet</servlet-name>
    <servlet-class>servlets.RegisterLibroServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListLibrosServlet</display-name>
    <servlet-name>ListLibrosServlet</servlet-name>
    <servlet-class>servlets.ListLibrosServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LibroDetailServlet</display-name>
    <servlet-name>LibroDetailServlet</servlet-name>
    <servlet-class>servlets.LibroDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BajaLibroServlet</display-name>
    <servlet-name>BajaLibroServlet</servlet-name>
    <servlet-class>servlets.BajaLibroServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LibroModifyServlet</display-name>
    <servlet-name>LibroModifyServlet</servlet-name>
    <servlet-class>servlets.LibroModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterEjemplarServlet</display-name>
    <servlet-name>RegisterEjemplarServlet</servlet-name>
    <servlet-class>servlets.RegisterEjemplarServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FilterLibrosServlet</display-name>
    <servlet-name>FilterLibrosServlet</servlet-name>
    <servlet-class>servlets.FilterLibrosServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>OrderLibroServlet</display-name>
    <servlet-name>OrderLibroServlet</servlet-name>
    <servlet-class>servlets.OrderLibroServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SearchLibrosServlet</display-name>
    <servlet-name>SearchLibrosServlet</servlet-name>
    <servlet-class>servlets.SearchLibrosServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VerifyPrestamoServlet</display-name>
    <servlet-name>VerifyPrestamoServlet</servlet-name>
    <servlet-class>servlets.VerifyPrestamoServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterPrestamoServlet</display-name>
    <servlet-name>RegisterPrestamoServlet</servlet-name>
    <servlet-class>servlets.RegisterPrestamoServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserPrestamosServlet</display-name>
    <servlet-name>UserPrestamosServlet</servlet-name>
    <servlet-class>servlets.UserPrestamosServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListClientesServlet</display-name>
    <servlet-name>ListClientesServlet</servlet-name>
    <servlet-class>servlets.ListClientesServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterPagoServlet</display-name>
    <servlet-name>RegisterPagoServlet</servlet-name>
    <servlet-class>servlets.RegisterPagoServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListPrestamosServlet</display-name>
    <servlet-name>ListPrestamosServlet</servlet-name>
    <servlet-class>servlets.ListPrestamosServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ChangeEstadoPrestamoServlet</display-name>
    <servlet-name>ChangeEstadoPrestamoServlet</servlet-name>
    <servlet-class>servlets.ChangeEstadoPrestamoServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserDetailServlet</display-name>
    <servlet-name>UserDetailServlet</servlet-name>
    <servlet-class>servlets.UserDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FilterPrestamosServlet</display-name>
    <servlet-name>FilterPrestamosServlet</servlet-name>
    <servlet-class>servlets.FilterPrestamosServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListEjemplaresServlet</display-name>
    <servlet-name>ListEjemplaresServlet</servlet-name>
    <servlet-class>servlets.ListEjemplaresServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EjemplarModifyServlet</display-name>
    <servlet-name>EjemplarModifyServlet</servlet-name>
    <servlet-class>servlets.EjemplarModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BajaEjemplarServlet</display-name>
    <servlet-name>BajaEjemplarServlet</servlet-name>
    <servlet-class>servlets.BajaEjemplarServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ChangePassServlet</display-name>
    <servlet-name>ChangePassServlet</servlet-name>
    <servlet-class>servlets.ChangePassServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GrantAdminServlet</display-name>
    <servlet-name>GrantAdminServlet</servlet-name>
    <servlet-class>servlets.GrantAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterReviewServlet</display-name>
    <servlet-name>RegisterReviewServlet</servlet-name>
    <servlet-class>servlets.RegisterReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>NewReviewServlet</display-name>
    <servlet-name>NewReviewServlet</servlet-name>
    <servlet-class>servlets.NewReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListPrestamoReviewServlet</display-name>
    <servlet-name>ListPrestamoReviewServlet</servlet-name>
    <servlet-class>servlets.ListPrestamoReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListClienteReviewsServlet</display-name>
    <servlet-name>ListClienteReviewsServlet</servlet-name>
    <servlet-class>servlets.ListClienteReviewsServlet</servlet-class>
  </servlet>
</web-app>