 .sidebar {
	width: 250px;
	background-color: #4FA5BF;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 100px);
	position: fixed;
	top: 100px; 
	left: 0;
	bottom: 0;
}

.sidebar a {
    color: white;
    padding: 20px;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #3C7D93; 
   	text-decoration: underline; 
}

.dropdown-container {
    display: none;
    background-color: #3C7D93;
    padding-left: 20px;
}

.dropdown-container a {
    padding: 10px 20px;
    font-size: 1rem;
}

.dropdown-container a:hover {
    text-decoration: underline;
}

.sidebar .dropdown-btn {
    cursor: pointer;
}

.sidebar .active {
   background-color: #3C7D93;
   text-decoration: underline;
}