        .detail-container {
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: left;
            display: flex;
		    flex-direction: row;
		    align-items: flex-start;
		    margin-bottom: 40px; /* Separación con las reseñas */
		    clear: both;
        }

        .detail-container img {
            width: 30%; /* Imagen ligeramente más pequeña */
            max-width: 300px;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
            margin-right: 20px; /* Espacio entre imagen y contenido */
        }

        .detail-content {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Centro verticalmente el contenido */
            flex-grow: 1;
        }

        .detail-content h5 {
            margin: 0;
            color: #e08b72;
            font-size: 2rem; /* Nombre en grande */
            font-weight: bold;
        }

        .detail-content p {
            margin: 5px 0;
            color: #6c757d; /* ID en gris */
        }

        .detail-content .description {
            margin-top: 20px;
            text-align: center; /* Centramos el texto de la descripción */
            color: black;
        }

        .detail-content h5 {
		    margin: 0;
		    color: #e08b72;
		    font-size: 2.5rem; /* Tamaño aumentado para el nombre de la categoría */
		    font-weight: bold;
		}

		.detail-content p {
		    margin: 5px 0;
		    color: #6c757d; /* ID en gris */
		    font-size: 1.2rem; /* Tamaño aumentado para el ID */
		}

		.detail-content .description p {
		    margin: 10px 0;
		    font-size: 1.5rem; /* Tamaño aumentado para la descripción */
		}
		.detail-content {
		    display: flex;
		    flex-direction: column;
		}
		
		.resenias-section{
			width: 100%; /* Asegura que ocupe todo el ancho */
		    display: block;
		    margin-top: 20px;
		    background-color: #fff;
		    border-radius: 10px;
		    padding: 20px;
		    border: 1px solid #ddd;
		}
		.info-row {
		    display: flex;
		    justify-content: space-between;
		    margin-bottom: 5px; /* Espacio entre las filas */
		}
		
		.info-row p {
		    margin: 0; /* Elimina los márgenes por defecto de los párrafos */
		    padding: 0;
		    flex: 1; /* Elimina los rellenos por defecto de los párrafos */
		}
		.info-row p:first-child {
		    margin-right: 10px; /* Espacio entre los elementos en la misma fila */
		}