body {
    background-image: url('../backround-image-books.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    border: 2px solid #e08b72;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}
#login .container #login-row #login-column #login-box #login-form {
    display: flex;
    flex-direction: column;
}
#login .container #login-row #login-column #login-box #login-form .form-group {
    margin-bottom: 1rem;
}
#login .container #login-row #login-column #login-box #login-form .form-group:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: 0;
}
.text-info {
    color: #e08b72 !important;
}
.btn-custom {
    background-color: #e08b72;
    border: none;
    color: #ffffff;
}
.btn-custom:hover {
    background-color: #d07a5a; 
}
.container-fluid {
	min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}
